<!-- Generated template for the VectorFormComponent component -->


<ion-card>
  <ion-card-header  style="background-color:#161616; text-align:center;"><label  style="color:aliceblue; letter-spacing: 2px; font-size: 14px;" >Enter Your Order Requirements</label></ion-card-header>
  <ion-card-content  style="background-color:#222222;">
    <ion-grid>
      <br>
   
      <ion-row><ion-col style="text-align:center;"><div style=" opacity: .8; border-radius:10px; border: 1px solid #FFFFFF; width: 100%;"><ion-input id="DesignName" name="DesignName" style="letter-spacing:2px; font-size:12px;color:#FFFFFF;" placeholder="Your Design Name" [(ngModel)]="DesignName" type="text" value= '' ></ion-input></div></ion-col></ion-row>
      <!-- <ion-row *ngIf="DesignName.errors && (DesignName.dirty || DesignName.touched)"><ion-col><div class="my-notify-info">This is info text</div>
        <div class="my-notify-success">This is success text</div>
        <div class="my-notify-warning">This is warning text</div>
        <div class="my-notify-error">This is error text</div>
      </ion-col></ion-row> -->
      <br>
      <ion-row><ion-col style="text-align:center;"><div style=" opacity: .8; border-radius:10px; border: 1px solid #FFFFFF; width: 100%;"><ion-input  style="letter-spacing:2px; font-size:12px;color:#FFFFFF;" placeholder="Your Contact Number" [(ngModel)]="UserContactNumber" type="number" value= '' ></ion-input></div></ion-col></ion-row>


      <ion-row>
          <ion-col ><ion-select [(ngModel)]="FormatsValue" (ionChange)="GetFormats();"  style=" max-width: 100% !important;background-color:#121315; color:#FFFFFF;" interface="action-sheet" placeholder="Require Format"  cancelText="Default">
              <ion-option  value="RF">Require Format</ion-option>
              <ion-option value=".CDR">.CDR</ion-option>
              <ion-option value=".AI">.AI</ion-option>
              <ion-option value=".EPS">.EPS</ion-option>
              <ion-option value=".PDF">.PDF</ion-option>
           </ion-select></ion-col>
      </ion-row>
      <br>
     
          <label style="color:aliceblue;font-size:13px; margin-left:2%; " >Additional Details :</label><br>
      
          <ion-row style="width:100%;">
            <textarea [(ngModel)]="UserVectorMessage" style="background-color:#121315; border-style:none; color:#FFFFFF; font-size:13px;padding: 5%; opacity:.8; " id="" placeholder="Please provide us all the necessary information like size, required file format and any other instructions" cols="60" rows="10"></textarea>
          </ion-row>
          <br>
          <ion-row>
              <ion-col>
                  <div style="text-align:center;">
                      <button style=" text-transform:none; border: 1px solid #FFFFFF; opacity:.8; color:#FFFFFF; background-color:transparent; "  (click)="SendEmailVectorForm()" ion-button  round >Send Request</button><br>
                       </div>
              </ion-col>
            </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
<!-- 
<ion-grid>
    
  <ion-row>
    <ion-col><ion-col><div style=" opacity: .8; border-radius: 10px;border: 2px solid #FFFFFF; padding: 0.5px;width: 80%;margin-left:10%;"><ion-input style="color:#FFFFFF;" placeholder="Your Design Name" type="text" value="" ></ion-input></div></ion-col></ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col col-4 style="margin-left: 10%;margin-top:2%;"><label style="color:aliceblue; font-size:15px; opacity: .8">Required Format</label></ion-col>
    <ion-col col-6 style="margin-left:3%;">
      <ion-select  style="background-color:#121315; color:#FFFFFF;" interface="popover" >
      <ion-option >.CDR</ion-option>
      <ion-option >.AI</ion-option>
      <ion-option>.EPS</ion-option>
      <ion-option>.PDF</ion-option>
     </ion-select></ion-col>
  </ion-row>
  <br>
  <label style="color:aliceblue; opacity: .8; font-size:15px; margin-left:10%;" >Additional Details :</label><br>
  <ion-row style="width:80%; margin-left:10%;">
    <textarea style="background-color:#252526; border-style:none; color:#FFFFFF; font-size:13px;padding: 5%; opacity:.8; " id="" placeholder="Please provide us all the necessary information like size, required file format and any other instructions" cols="60" rows="10"></textarea>
  </ion-row>
  <br>
  <ion-row>
    <ion-col>
        <div style="text-align:center;">
            <button style="border: 2px solid #FFFFFF; opacity:.8; color:#FFFFFF; background-color:transparent; "  (click)="SubmitUserForm()" ion-button  round >Send Request</button><br>
             </div>
    </ion-col>
  </ion-row>
</ion-grid> -->
